.iva_bh_shortcode {
	position: relative;
	margin: 0;
}

.ivabh-businesshours {
	position: relative;
	clear:both;
	display: block;
}

.iva_bh_shortcode .iva_bhp_hours_row,
.ivabh-businesshours .iva_bhp_hours_row {
	display: block;
	border-bottom:1px solid #eeeeee;
	border-bottom:1px solid rgba( 0, 0, 0, 0.1 );
	padding: 7px 0;
	margin: 0 !important;
	overflow: hidden;
}
.iva_bh_shortcode .iva_bhp_hours_row:last-child,
.ivabh-businesshours .iva_bhp_hours_row:last-child {
	border-bottom: 0;
}
.ivabh-desc {
	margin:10px 0;
}

.ivabh-hd-hours p {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ivabh-hd-hours p:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.ivabh-hd-hours {
	padding: 20px 0;
}

.ivabh-hd-s1 .days {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 50%;
	flex: 1 0 50%;
}
.ivabh-hd-s1 .hours {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 50%;
	flex: 1 0 50%;
	text-align: right;
}
.widget_text .iva_bh_shortcode span.days,
.ivabh-businesshours span.days {
	width: 40%;
	display: block;
	float: left;
	text-align: left;
	vertical-align:middle;
}

.widget_text .ivabh-businesshours span.hours,
.ivabh-businesshours span.hours {
	width:60%;
	display:block;
	float: right;
	text-align: right;
}

.ivabh-businesshours span.hours span.closed,
.today-result span.hours span.closed {
	padding:3px 10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	color: #ffffff;
}

.ivabh-desc {
	margin-bottom: 10px;
}

.ivabh-current-day {
	font-weight: bold;
}

.ivbh-seemore {
	display: block;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.iva-bh-tg {
	position: relative;
	display: inline-block;
}
.iva-bh-tg .arrow { margin-left: 10px; cursor: pointer; }
.iva-bh-tg .arrow::after { content: '+'; }
.iva-bh-tg.active .arrow::after { content: '-'; }
.today-result { clear:both; display:block;}
.today-result p {
	display: block;
	padding: 7px 0;
	margin: 0 !important;
	overflow: hidden;
}
.today-result span.days {
	vertical-align:middle;
	line-height: inherit;
}

.today-result span.hours {
	display:block;
    width: 60%;
    float: right;
	line-height: normal;
    text-align: right;
}

.ivabh_open_img,
.ivabh_close_img {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
	margin: 0 auto 10px auto;
}

/* Holiday Hours */
.ivabh-hd-hours { position: relative; }
.iva-bh-holiday-hrs { display: block; }
.ivabh-hd-hours .days {
	width: 40%;
	display: block;
	float: left;
	text-align: left;
	vertical-align:middle;
	line-height: normal;
}

.ivabh-hd-hours .hours {
	width:60%;
	display:block;
	float: right;
	text-align: right;
}

.ivabh-hd-hours .days { font-weight: bold; line-height: normal; }
.ivabh-hd-hours .hd_desc {
	font-weight: normal;
	font-style: italic;
	font-size: small;
	line-height: normal;
	opacity: 0.8;
}

.iva-bh-oc-text {
	display: inline-block;
	background-color:#8FCA43;
	padding: 0 10px;
	color:#ffffff;
	font-size: 10px;
	line-height: normal;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.iva-bh-stext,
.iva-bh-etext {
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	padding: 0 5px;
	margin: 0 3px;
	background-color: rgba(0,0,0,0.07);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.iva_holiday_name {
    background: rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    display: table;
    font-size: 10px;
    margin: 0 0 0 auto;
    padding: 3px 12px;
}
.centeraligned .iva_bh_holiday-hrs,
.centeraligned .iva_holiday_name {
  margin: 0 auto;
}
.iva_holiday_to span { font-weight:bold; }

/* Style 2 Holidays Display */

.ivabh-hd-s1[style^='background'],
.ivabh-hd-s2[style^='background'] { padding: 20px; }

.ivabh-hd-s2 .days {
	width: auto;
	float: none;
	text-align: inherit;
	font-weight: 300;
	line-height: 36px;
	font-size: 32px;
	margin-bottom: 10px;
}
.ivabh-hd-s2 .hours {
	width: auto;
	display: table;
	float: none;
	text-align: inherit;
	margin-bottom: 10px;
	padding: 0px 10px;
	background-color: #e4ebef;
	color:#222222;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.ivabh-hd-s1 .hd_desc,
.ivabh-hd-s2 .hd_desc,
.ivabh-hd-s3 .hd_desc {
	opacity: 0.8;
	flex:1 0 100%;
}

.ivabh-hd-s3 .hd-details {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.ivabh-hd-s3 .days {
	width: auto;
	float: none;
	flex: 1 0 50%;
}
.ivabh-hd-s3 .hd-date {
	width: auto;
	float: none;
	flex: 1 0 50%;
	text-align: right;
}
.ivabh-hd-s3 .hd-desc {
	font-size: small;
}
.ivabh-hd-hours small {
	font-size: small;
	flex: 1 0 100%;
}
/* Single Day */
.iva_bh_singleday .today-result { clear: none; display: inline; }
.iva_bh_singleday .today-result p { padding: 0; }
.iva_bh_singleday span.hours,
.iva_bh_singleday .days { vertical-align: middle; }

.iva-bh-oc-dot {
	border-radius: 100%;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-left: 5px;
}

.iva_oc_open { background-color:#34B96D; }
.iva_oc_close { background-color:#FF4957; }

.iva_bh_shortcode.iva_bh_singleday { line-height: 100%;}

.hours-row { display: block; }

/* Center Aligned - @since 2.5.0 */
.centeraligned.ivabh-businesshours span.days,
.centeraligned.ivabh-businesshours span.hours,
.centeraligned .today-result span.days,
.centeraligned .today-result span.hours {
	width: auto;
	float: none;
	text-align: center;
}

.centeraligned .iva-bh-tg { display: block; text-align: center; }
.centeraligned .ivabh-desc { text-align: center; }
.past-hours { opacity:0.5; }

/* @since v3.6.2 */
img.ivabh_close_img { height: auto; }
.iva_bh_shortcode figure,
.ivabh-businesshours figure { margin: 0; }

/* @since v4.0.0*/
.iva_bh_holiday-hrs {
	display: table;
	padding: 2px 5px;
	font-size: 12px;
	font-weight: normal;
	background-color: rgba(0,0,0,0.1);
	margin:0 0 0 auto;
}