@font-face {
  font-family: 'aicon_';
  src: url('../font/aicon_038c.eot?48223391');
  src: url('../font/aicon_038c.eot?48223391#iefix') format('embedded-opentype'),
       url('../font/aicon_038c.woff?48223391') format('woff'),
       url('../font/aicon_038c.ttf?48223391') format('truetype'),
       url('../font/aicon_038c.svg?48223391#aicon_') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'aicon_';
    src: url('../font/aicon_.svg?48223391#aicon_') format('svg');
  }
}
*/
 
 [class^="aicon-"]:before, [class*=" aicon-"]:before {
  font-family: "aicon_";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.aicon-mail:before { content: '\e802'; } /* '' */
.aicon-heart:before { content: '\e805'; } /* '' */
.aicon-star:before { content: '\e806'; } /* '' */
.aicon-user:before { content: '\e807'; } /* '' */
.aicon-videocam:before { content: '\e808'; } /* '' */
.aicon-camera:before { content: '\e809'; } /* '' */
.aicon-photo:before { content: '\e80a'; } /* '' */
.aicon-attach:before { content: '\e80b'; } /* '' */
.aicon-lock:before { content: '\e80c'; } /* '' */
.aicon-eye:before { content: '\e80d'; } /* '' */
.aicon-tag:before { content: '\e80e'; } /* '' */
.aicon-thumbs-up:before { content: '\e80f'; } /* '' */
.aicon-pencil:before { content: '\e810'; } /* '' */
.aicon-comment:before { content: '\e811'; } /* '' */
.aicon-location:before { content: '\e812'; } /* '' */
.aicon-cup:before { content: '\e813'; } /* '' */
.aicon-trash:before { content: '\e814'; } /* '' */
.aicon-doc:before { content: '\e815'; } /* '' */
.aicon-key:before { content: '\e816'; } /* '' */
.aicon-database:before { content: '\e817'; } /* '' */
.aicon-megaphone:before { content: '\e818'; } /* '' */
.aicon-graduation-cap:before { content: '\e819'; } /* '' */
.aicon-fire:before { content: '\e81a'; } /* '' */
.aicon-paper-plane:before { content: '\e81b'; } /* '' */
.aicon-cloud:before { content: '\e81c'; } /* '' */
.aicon-search:before { content: '\e81d'; } /* '' */
.aicon-globe:before { content: '\e81e'; } /* '' */
.aicon-inbox:before { content: '\e81f'; } /* '' */
.aicon-cd:before { content: '\e820'; } /* '' */
.aicon-mobile:before { content: '\e821'; } /* '' */
.aicon-desktop:before { content: '\e822'; } /* '' */
.aicon-tv:before { content: '\e823'; } /* '' */
.aicon-wallet:before { content: '\e824'; } /* '' */
.aicon-t-shirt:before { content: '\e825'; } /* '' */
.aicon-lightbulb:before { content: '\e826'; } /* '' */
.aicon-clock:before { content: '\e827'; } /* '' */
.aicon-diamond:before { content: '\e828'; } /* '' */
.aicon-sound:before { content: '\e829'; } /* '' */
.aicon-shop:before { content: '\e82a'; } /* '' */
.aicon-food:before { content: '\e82b'; } /* '' */
.aicon-params:before { content: '\e82d'; } /* '' */
.aicon-money:before { content: '\e82e'; } /* '' */
.aicon-truck:before { content: '\e82f'; } /* '' */
.aicon-cog:before { content: '\e830'; } /* '' */
.aicon-note:before { content: '\e831'; } /* '' */
.aicon-beaker:before { content: '\e832'; } /* '' */
.aicon-music:before { content: '\e833'; } /* '' */
.aicon-buffer:before { content: '\e83b'; } /* '' */
.aicon-star-empty:before { content: '\e83d'; } /* '' */
.aicon-heart-empty:before { content: '\e83e'; } /* '' */