/*! jQuery UI - v1.10.3 - 2013-09-26
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */

/*
----------------------------------------------------------------------------------------------------
Datepicker [jQuery UI]#5ec6f8
----------------------------------------------------------------------------------------------------
*/

.iva-date-ui.ui-helper-hidden {display:none;}
.iva-date-ui.ui-helper-hidden-accessible {position:absolute !important; clip:rect(1px 1px 1px 1px); clip:rect(1px,1px,1px,1px);}
.iva-date-ui.ui-helper-reset {margin:0; padding:0; border:0; outline:0; line-height:1.3; text-decoration:none; font-size:100%; list-style:none;}
.iva-date-ui.ui-helper-clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.iva-date-ui.ui-helper-clearfix {display:inline-block;}
* html .iva-date-ui.ui-helper-clearfix {height:1%;}
.iva-date-ui.ui-helper-clearfix {display:block;}
.iva-date-ui.ui-helper-zfix {width:100%; height:100%; top:0; left:0; position:absolute; opacity:0; filter:Alpha(Opacity=0);}
.iva-date-ui .ui-state-disabled {cursor:default !important;}
.iva-date-ui .ui-widget-overlay {position:absolute; top:0; left:0; width:100%; height:100%;}
.iva-date-ui.ui-widget-content {background:#ffffff;}
.iva-date-ui .ui-widget-header { font-weight:bold;}
.iva-date-ui .ui-widget-header a { color:#ffffff; background-color: #323232;}
.iva-date-ui .ui-state-default,
.iva-date-ui.ui-widget-content .ui-state-default,
.iva-date-ui .ui-widget-header .ui-state-default { background-color: transparent; }
.iva-date-ui .ui-state-default a,
.iva-date-ui .ui-state-default a:link,
.iva-date-ui .ui-state-default a:visited {text-decoration:none;}
.iva-date-ui.ui-state-hover,
.iva-date-ui.ui-widget-content .ui-state-hover,
.iva-date-ui .ui-widget-header .ui-state-hover,
.iva-date-ui .ui-state-focus,
.iva-date-ui .ui-widget-content .ui-state-focus,
.iva-date-ui .ui-widget-header .ui-state-focus {color:#ffffff;}

.iva-date-ui .ui-state-hover a,
.iva-date-ui .ui-state-hover a:hover {color:#c77405; text-decoration:none;}

.iva-date-ui.ui-state-active,
.iva-date-ui.ui-widget-content .ui-state-active,
.iva-date-ui.ui-widget-header .ui-state-active { background: #f7ca18 !important; color: #ffffff; }

.iva-date-ui .ui-state-active a,
.iva-date-ui .ui-state-active a:link,
.iva-date-ui .ui-state-active a:visited {color:#eb8f00; text-decoration:none;}

.iva-date-ui.ui-widget :active {outline:none;}
.iva-date-ui .ui-state-highlight,
.iva-date-ui.ui-widget-content .ui-state-highlight,
.iva-date-ui .ui-widget-header .ui-state-highlight { background-color: #999999; color:#ffffff;}

.iva-date-ui .ui-state-highlight.ui-state-active {color:#ffffff;}
.iva-date-ui .ui-state-highlight a,
.iva-date-ui.ui-widget-content .ui-state-highlight a,
.iva-date-ui .ui-widget-header .ui-state-highlight a {color:#8c8c90;}

.iva-date-ui .ui-state-error,
.iva-date-ui.ui-widget-content .ui-state-error,
.iva-date-ui .ui-widget-header .ui-state-error {border:1px solid #cd0a0a; background:#b81900; color:#ffffff;}

.iva-date-ui .ui-state-error a,
.iva-date-ui.ui-widget-content .ui-state-error a,
.iva-date-ui .ui-widget-header .ui-state-error a {color:#ffffff;}

.iva-date-ui .ui-state-error-text,
.iva-date-ui .ui-widget-content .ui-state-error-text,
.iva-date-ui .ui-widget-header .ui-state-error-text {color:#ffffff;}

.iva-date-ui .ui-priority-primary,
.iva-date-ui.ui-widget-content .ui-priority-primary,
.iva-date-ui .ui-widget-header .ui-priority-primary {font-weight:bold;}

.iva-date-ui .ui-priority-secondary,
.iva-date-ui.ui-widget-content .ui-priority-secondary,
.iva-date-ui .ui-widget-header .ui-priority-secondary {opacity:0.7; filter:Alpha(Opacity=70); font-weight:normal;}

.iva-date-ui .ui-state-disabled,
.iva-date-ui.ui-widget-content .ui-state-disabled,
.iva-date-ui .ui-widget-header .ui-state-disabled {opacity:0.35; filter:Alpha(Opacity=35); background-image:none;}

.iva-date-ui .ui-state-hover .ui-icon,
.iva-date-ui .ui-state-focus .ui-icon { opacity: 0.5; }
.iva-date-ui .ui-icon { display: inline; }
.iva-date-ui.ui-datepicker {
	display:none;
	z-index: 999 !important;
	padding: 15px !important;
	width: 100%;
	max-width: 340px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
.iva-date-ui.ui-datepicker thead th { font-weight: bold !important;}
.iva-date-ui.ui-datepicker .ui-datepicker-header { position:relative; padding:20px 0; }
.iva-date-ui.ui-datepicker .ui-datepicker-prev,
.iva-date-ui.ui-datepicker .ui-datepicker-next {position:absolute; width: 50px; height:1.8em; text-align:center; cursor: pointer; color: inherit; background-color: transparent;}
.iva-date-ui.ui-datepicker .ui-datepicker-prev-hover,
.iva-date-ui.ui-datepicker .ui-datepicker-next-hover { }

.iva-date-ui.ui-datepicker .ui-datepicker-prev {left:10px;}
.iva-date-ui.ui-datepicker .ui-datepicker-next {right:10px;}
.iva-date-ui.ui-datepicker .ui-datepicker-prev-hover {left:10px;}
.iva-date-ui.ui-datepicker .ui-datepicker-next-hover {right:10px;}
.iva-date-ui.ui-datepicker .ui-datepicker-prev spans,
.iva-date-ui.ui-datepicker .ui-datepicker-next spans {display:block; position:absolute; left:50%; margin-left:-8px; top:50%; margin-top:-8px;}

.iva-date-ui.ui-datepicker .ui-datepicker-title {margin:0 2.3em; line-height:1.8em; text-align:center; font-size:16px; font-weight:normal; text-transform: uppercase;}
.iva-date-ui.ui-datepicker .ui-datepicker-title select {font-size:1.2em; margin:1px 0;}
.iva-date-ui.ui-datepicker select .ui-datepicker-month-year {width:100%;}
.iva-date-ui.ui-datepicker select .ui-datepicker-month,
.iva-date-ui.ui-datepicker select .ui-datepicker-year {width:49%;}
.iva-date-ui.ui-datepicker table {width:100%; font-size:14px; padding: 1px;border:none; margin-bottom: 0 !important; font-size: 11px; text-transform: uppercase; }
.iva-date-ui.ui-datepicker th {padding:0.7em 0.3em; text-align:center; border:0;}
.iva-date-ui.ui-datepicker td a { }
.iva-date-ui.ui-datepicker .ui-state-default { }
.iva-date-ui.ui-datepicker .ui-state-default:hover {background-color: #222222; color:#ffffff;}
.iva-date-ui.ui-datepicker td span,
.iva-date-ui.ui-datepicker td a {display:block; padding:6px; text-align:center; text-decoration:none; color: #777777; line-height: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;}
.iva-date-ui.ui-datepicker .ui-datepicker-buttonpane {background-image:none; margin:0.7em 0 0 0; padding:0 .2em; border-left:0; border-right:0; border-bottom:0;}
.iva-date-ui.ui-datepicker .ui-datepicker-buttonpane button {float:right; margin:0.5em 0.2em 0.4em; cursor:pointer; padding:0.2em 0.6em 0.3em 0.6em; width:auto; overflow:visible;}
.iva-date-ui.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float:left;}
.iva-date-ui.ui-datepicker.ui-datepicker-multi {width:auto;}
.iva-date-ui.ui-datepicker-multi .ui-datepicker-group {float:left;}
.iva-date-ui.ui-datepicker-multi .ui-datepicker-group table {width:95%; margin:0 auto .4em;}
.iva-date-ui.ui-datepicker-multi-2 .ui-datepicker-group {width:50%;}
.iva-date-ui.ui-datepicker-multi-3 .ui-datepicker-group {width:33.3%;}
.iva-date-ui.ui-datepicker-multi-4 .ui-datepicker-group {width:25%;}
.iva-date-ui.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {border-left-width:0;}
.iva-date-ui.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width:0;}
.iva-date-ui.ui-datepicker-multi .ui-datepicker-buttonpane {clear:left;}
.iva-date-ui.ui-datepicker-row-break {clear:both; width:100%; font-size:0em;}
.iva-date-ui.ui-datepicker-rtl { direction:rtl; }
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-prev { right:2px; left:auto; }
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-next { left:2px; right:auto; }
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-prev:hover { right:1px; left:auto; }
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-next:hover { left:1px; right:auto; }
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-buttonpane {clear:right;}
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-buttonpane button {float:left;}
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {float:right;}
.iva-date-ui.iva-date-ui .ui-datepicker-rtl .ui-datepicker-group {float:right;}
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {border-right-width:0; border-left-width:0;}
.iva-date-ui.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {border-right-width:0; border-left-width:0;}
.iva-date-ui.ui-datepicker-cover {display:none; display:block; position:absolute; z-index:-1; filter:mask(); top:-4px; left:-4px; width:200px; height:200px;}
.iva-date-ui.ui-datepicker-current-day { background-color: #FF0000; }

.iva-date-ui.ui-datepicker th { border-width: 0; padding: 10px 0; }
.iva-date-ui.ui-datepicker td { border-width: 0; font-size: 12px; padding: 2px; }
.hasDatepicker.ui-datepicker{ width:auto; }